<nav class="ui blue inverted menu">
  <header class="header item"> <a href="/"> MyTweet </a> </header>
  <header class="header item">Administration mode</header>
  <div class="right menu">
    <a id="adminhome" class="item" href="/adminhome"> Admin </a>
    <a id="adminregister" class="item" href="/adminregister"> Register </a>
    <a id="adminusers" class="item" href="/adminusers"> Users </a>
    <a id="admintimeline" class="item" href="/admintimeline"> Timeline </a>
    <a id="adminlogout" class="item" href="/adminlogout">Logout</a>
  </div>
</nav>

<script>
  $("#{{_id}}").addClass("active item");
</script>