<nav class="ui blue inverted menu">
  <header class="header item"> <a href="/"> MyTweet </a> </header>
  <div class="right menu">
    <a class="item" href="/allusers"> Back to Users</a>
    <a class="active item" href="/publictimeline"> Public Timeline</a>
  </div>
</nav>