{{> adminmenu _id="adminusers"}}

<section class="ui segment">
  <div class="ui three column grid">
    <div class="three wide column">
    </div>
    <div class="nine wide column">
      <h4>All Users</h4>
      <div class="ui cards">
        {{#each users}}
          <div class="blue card">
            <div class="content">
              <div class="header">{{firstName}} {{lastName}}</div>
              <div class="description">
                Email: {{email}}<br>
                Registration date: {{regdate}}
              </div>
            </div>
            <div class="extra content">
              <form action="/deleteuser/{{id}}" method=POST>
                <button class="ui fluid red button">Delete User and user's tweets</button>
              </form><br>
              <form action="/deleteusertweets/{{id}}" method=POST>
                <button class="ui fluid orange button">Delete User's tweets only</button>
              </form>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="four wide column">
    </div>
  </div>
</section>
