{{> adminmenu _id="admintimeline"}}

<section class="ui fluid form segment">
  <h4>Admin Timeline - All tweets from all users</h4>
  <div class="ui feed">
    {{#each tweets}}
      <div class="event">
        <div class="content">
          <div class="date">
            <br>
            {{ date }}
          </div>
          <div class="summary">
            {{ tweetor.firstName }} {{ tweetor.lastName }} posted a tweet
          </div>
          {{#if picture.data}}
            <div class="image">
              <img class="ui small image" src="/getPictureAdmin/{{_id}}">
            </div>
          {{/if}}
          <div class="extra text">
            {{ content }}
          </div>
          <div class="extra text">
            <form action="/admindeltweet/{{id}}" method=POST>
              <button class="ui red button">Delete</button>
            </form>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</section>