{{> mainmenu _id="following"}}

<section class="ui segment">
  <div class="ui two column grid">
    <div class="column">
      <h3>Following</h3>
      <div class="ui cards">
        {{#each friends}}
          <div class="blue card">
            <div class="content">
              <div class="header">{{firstName}} {{lastName}}</div>
              <div class="description">
                Email: {{email}} <br>
                Registration date: {{regdate}}
              </div>
            </div>
            <div class="extra content">
              <form action="/publictimeline/{{id}}" method=POST>
                <button class="ui fluid blue button">View {{ firstName }}'s timeline</button>
              </form>
              <br>
              <div>
                <form action="/unfollow/{{id}}" method=POST>
                  <button class="ui fluid yellow button">Unfollow {{ firstName }}</button>
                </form>
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
    <div class="column">
      <h3>Followed User's Tweets</h3>
      <div class="ui feed">
        {{#each tweets}}
          <div class="event">
            <div class="content">
              <div class="date">
                <br>
                {{ date }}
              </div>
              <div class="summary">
                {{ tweetor.firstName }} {{ tweetor.lastName }} posted a tweet
              </div>
              {{#if picture.data}}
                <div class="image">
                  <img class="ui small image" src="/getPicture/{{_id}}">
                </div>
              {{/if}}
              <div class="extra text">
                {{ content }}
              </div>
            </div>
          </div>
        {{/each}}
      </div>
    </div>
  </div>
</section>