{{> mainmenu _id="home"}}

<section class="ui fluid form segment">
  <h4>{{user.firstName}} {{user.lastName}}'s MyTweet Page</h4>
  <div class="ui two column grid">
    <div class="column">
      <form action="/postATweet" method=POST enctype="multipart/form-data">
        <div class="ui fluid form segment">
          <h4>Write a message to tweet</h4>
          <div class="field">
            <textarea maxlength="140" placeholder='Write your post here, 140 characters max.' name="content"></textarea>
          </div>
          <div>
            <input type="file" name="picture" />
          </div>
          <br>
          <button class="ui fluid blue button">Post New Tweet</button>
        </div>
      </form>
      {{> formerror }}
      <div class="ui fluid form segment">
       <strong> Tweets posted by {{user.firstName}}:&nbsp&nbsp</strong> {{numtweets}}
      </div>
      <div class="ui fluid form segment">
        <strong> Followers:&nbsp&nbsp</strong> {{followers}}
      </div>
      <div class="ui fluid form segment">
        <strong> Following:&nbsp&nbsp</strong> {{following}}
      </div>
      <div class="ui fluid form segment">
        <a href="/deleteAll"><button class="ui fluid red button">Delete all tweets</button></a>
      </div>
    </div>
    <div class="column">
      <table class="ui celled blue table segment">
        <thead>
          <tr>
            <th> {{user.firstName}}'s Tweets</th>
          </tr>
        </thead>
        <tbody>
          {{#each tweets}}
          <tr>
            <td>{{ content }}
              <form action="/delete/{{id}}" method=POST>
                <button class="ui right floated red button">Delete</button>
              </form>
              {{#if picture.data}}
                <div class="image">
                  <img class="ui small image" src="/getPicture/{{_id}}">
                </div>
              {{/if}}
            </td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
</section>